<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 style="color: rgba(255, 255, 255, 0.829);">&copy; Copyright Yerim Cho COMP229 - Assignment 2 Summer 2021 </h6>
    </div>
  </nav>