<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="/Assets/images/logo_white.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Nav bar with active identifying active page-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <% if (title == "Home"){ %>
            <a class="nav-link active" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home</a>
            <% } else { %> 
            <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home</a>
            <% } %>
          </li>

          <li class="nav-item">
          <% if (title== "About Me"){ %>
            <a class="nav-link active" href="/about"><i class="fas fa-user"></i> About</a>
            <% } else { %> 
            <a class="nav-link" href="/about"><i class="fas fa-user"></i> About</a>
            <% } %>
          </li>

          <li class="nav-item">
          <% if (title== "Projects"){ %>
            <a class="nav-link active" href="/projects"><i class="fas fa-laptop-code"></i> Projects</a>
            <% } else { %> 
            <a class="nav-link" href="/projects"><i class="fas fa-laptop-code"></i> Projects</a>
            <% } %>
          </li>

          <li class="nav-item">
          <% if (title== "Services"){ %>
            <a class="nav-link active" href="/services"><i class="fas fa-file-invoice-dollar"></i> Services</a>
            <% } else { %> 
            <a class="nav-link" href="/services"><i class="fas fa-file-invoice-dollar"></i> Services</a>
            <% } %>
          </li>

          <li class="nav-item">
          <% if (title== "Contact"){ %>
            <a class="nav-link active" href="/contact"><i class="fas fa-mobile-alt"></i> Contact</a>
            <% } else { %> 
            <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact</a>
            <% } %>
          </li>

          <!--Business List secure area and authentication links-->
          <li class="nav-item">
          <% if (title== "Business Contact List"){ %>
            <a class="nav-link active" href="/business-list"><i class="fas fa-briefcase"></i> Business List</a>
            <% } else { %>
            <a class="nav-link" href="/business-list"><i class="fas fa-briefcase"></i> Business List</a>
            <% } %>
          </li>

          <!--Check if users are logged in-->
          <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>