 <!--  File Name : error.ejs
      Student's Name : Yerim Cho
      Student ID : 301143325
      Date : June 18th, 2021-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
